@charset "UTF-8";
.base1{
	width: 800px;
	height: 800px;
	margin: 0 auto;
}
.base1 > li{
	width: inherit;
	height: 45px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}
.base1 > li:first-of-type{
	height: 120px;
	font-family: 'IBM Plex Sans KR';
	font-weight: bold;
	font-size: 40px;
	text-decoration: underline;
	text-align: center;
}
.base1 > li:nth-of-type(2),.base1 > li:nth-of-type(4){
	height: 50px;
	color: #BDBDBD;
}
.base1 > li:nth-of-type(3),.base1 > li:nth-of-type(5),.base1 > li:nth-of-type(8){
	text-decoration: underline;
	font-weight: bold;
}

/* 이용 약관 파트 */
.base1 > li:nth-of-type(6),.base1 > li:nth-of-type(9){
	height: 180px;
}
.base1 > li > div{
	width: inherit;
	height: 180px;
	border: 1px solid black;
	overflow-y: auto;
	
}

/* 체크박스 파트 */
.base1 > li:nth-of-type(7),.base1 > li:nth-of-type(10){
	height:: 30px;
	text-align: right;
}

/* 개인정보 입력 파트 */
p{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	width: 800px;
	height: 45px;
	margin: 0 auto;
}
.base2{
	width: 800px;
	height: 355px;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0 auto;
	font-size: 14px;
}
.base2 > li:nth-of-type(odd){
	width: 200px;
	height: 40px;
	margin-bottom: 5px;
	margin-right: 10px;
	line-height: 40px;
	background-color: #BAE9F4;
	text-indent: 10px;
}
.base2 > li:nth-of-type(15),.base2 > li:last-of-type{
	margin-bottom: 0;
}
.base2 > li:nth-of-type(even){
	width: 590px;
	height: 40px;
	margin-bottom: 5px;
	line-height: 40px;
}

.base2 > li:nth-of-type(2){
	display: flex;
}
.base2 > li:nth-of-type(2) > div{
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 10px;
	font-size: 14px;
	background-color: #4F84F5;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}
.base2 > li > input{
	height: 40px;
	border: 1px solid #4F84F5;
	outline: 0;
	text-indent: 10px;
}
.base2 > li:nth-of-type(10) > input{
	width: 300px;
}
.base2 > li:nth-of-type(12) > input{
	width: 400px;
}
.base2 > li:nth-of-type(14) > input, .base2 > li:nth-of-type(16) > input{
	width: 35px;
	height: 35px;
	vertical-align: -12px;
	
}


.btn3{
	width: 400px;
	height: 48px;
	cursor: pointer;
	border-radius: 4px;
	color: white;
	background-color: #4F84F5;
	margin: 0 auto;
	line-height: 48px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	margin-top: 25px;
}