section{
	width: 100%;
	margin: 0 auto;
}
.Rtop{
	width: 1200px;
	margin: 60px auto;
	height: 50px;
	text-align: center;
	font-size: 36px;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}


/* 느낌표 아이콘 */
.Rico{
	width: 1200px;
	background-image: url("../ico/report.svg");
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: center;
	height: 35px;
	margin: 0 auto;
	margin-top: 60px;
}

/* 로그인 문구 */
#Rlogin{
	font-size: 14px;
	color: #BDBDBD;
	font-family: 'Noto Sans KR', sans-serif;
	width: 1200px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
}
#Rlogin > b{
	color: black;
	weight: 500;
}
.yDateSize{
	width: 1200px;
	margin: 0 auto;
	
}
/* 입실, 퇴실 날짜 출력 */
#Rdate{
	margin: 0 auto;
	width:610px;
	height: 160px;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
	display: none;
	margin-bottom: 60px;
}
#Rdate > li{
	heigth: 30px;
	line-height: 30px;
	margin-bottom: 60px;
}
#Rdate > li:nth-of-type(odd) {
	width: 100px;
	text-align: center;
}
#Rdate > li:nth-of-type(even) {
	width: 200px;
}
#Rdate > li:last-of-type{
	width: 610px;
	height: 70px;
	margin: 0;
}
#Rdate > li > input{
	width: inherit;
	height: inherit;
}
#Rdate > li:nth-of-type(2){
	margin-right: 10px;
}
#Rdate > li:last-of-type > div{
	width: 250px;
	height: inherit;
	background-color: #1e1f21;
	font-size: 20px;
	font-weight: 300;
	color: white;
	line-height: 70px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
/* 캠핑장 출력 */
.camp{
	width: 800px;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}
.camp > li{
	width: 200px;
	height: 70px;
	border: 1px solid #666666;
	line-height: 70px;
	text-align: center;
	font-size: 18px;
	color: #666666;
	font-weight: 300;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.camp > li:nth-of-type(even),.camp > li:nth-of-type(3){
	border-left: 0;
}
.bottom > li{
	border-top: 0;
}
.camp > li > div{
	width: 30px;
	height: 30px;
	background-image: url("../ico/arrow.svg");
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: center;
	border: 1px solid #666666;
	margin: auto 0;
}


/* 소메뉴 출력 */
.Rin{
	width: 800px;
	height: 70px;
	background-color: #666666;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 300;
}
.Rin > li{
	width: 100px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid black;
	background-color: #ffffff;
	line-height: 36px;
	text-align: center;
	margin: 20px;
	cursor: pointer;
}


#camp1,#camp2{
	width: 1200px;
	display: none;
	margin: 0 auto;
}