@charset "UTF-8";

/* font-family: 'Noto Sans KR', sans-serif; 100 300 400 500 700 900 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'IBM Plex Sans KR', sans-serif; 100 200 300 400 500 600 700*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");


@media (min-width: 360px) and (max-width: 580px) {
	body {
		max-width: 580px;
		margin: 0 auto;
		/* 가운데 정렬을 원한다면 추가 */
	}
}
.part4okmain{
	width: 90%;
	margin: 0 auto;
}
p {
	font-family: 'IBM Plex Sans KR';
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    height: 120px;
    line-height: 120px;
    /* margin: 0px auto; */
    text-align: center;
}
#jjf > section > div{
	text-align: center;
    font-size: 14px;
    color: #BDBDBD;
    margin-bottom: 40px;
}
#jjf > section > ul > li:nth-child(3){
	height: 30px;
	line-height: 30px;
}
.ul_cy {
	margin: 0 auto;
	font-family: 'Noto Sans KR';
	font-size: 18px;
	font-weight: 300;
	font-size: 14px;
	
}

.ul_cy > li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid black;
	display: flex;
	color:  #000000;
}
.ul_cy > li > div {
	font-weight: 300;
}
.parkname_size{
	width: 24.50%;
	overflow: hidden;
}
.parkname_size2{
	width: 76.50%;
}
.ul_cy > li:nth-of-type(1) {
	justify-content: space-between;
}
.ul_cy > li:nth-of-type(3),.ul_cy > li:nth-of-type(9) {
	font-weight: 500;
	display: block;
	text-align: right;
	border-bottom: 0;
}

.selectbtn{
	width: 150px;
	height: 40px;
	line-height: 38px;
	margin: 0 10px;
	border: 1px solid #000000;
	border-radius: 20px;
	text-align: center;
	background-color: #FFFFFF;
	cursor: pointer;
}
.ul_cy > li:last-of-type {
	height: 70px;
	border-bottom: 0;
	margin-top: 40px;
}
.title_cy {
	font-size: 16px;
	font-weight: 500 !important;
	text-indent: 25px;
	background: url("../ico/camping.svg") no-repeat 0 / 20px;
}
.ul_cy > li:nth-of-type(4){
	background: url("../ico/report.svg") no-repeat 0 / 20px;
}
.ul_cy > li:nth-of-type(10){
	background: url("../ico/pay.svg") no-repeat 0 / 20px;
}
.font20 {
	font-size: 20px;
}
#jjf > section > ul > li:nth-child(9){
	height: 15px;	
}
.paybtn {
	width: 51.5%;
	height: 30px;
	background-color:#E62612;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	margin: 0 auto;
	border-radius: 5px;
	border: 0;
}
.ul_cy > li:nth-of-type(11) {
   	height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul_cy > li:nth-of-type(11) > span{
background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 25%;
}
.ul_cy > li:nth-of-type(11) > label{
    text-align: right;
    color: red;
}





