@charset "utf-8";

.user_agree{
    height: 600px;
}
.agree{
    width: 1100px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid orange;
}
.agree > ul:nth-child(1){
    width: 120px;
    height: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    float: left;
}
.agree > ul:nth-child(2){
    width: 360px;
    height: 60px;
    float: right;
    font-size: 13px;
    text-align: center;
}
.agree > ul:nth-child(2) > li{
    width: 100px;
    height: 60px;
    float: left;
}
.agree > ul:nth-child(2) > li:nth-child(1){
    color: orange;
}
.agree > ul:nth-child(2) > li:nth-child(2){
    width: 30px;
}
.agree > ul:nth-child(2) > li:nth-child(4){
    width: 30px;
}

/* 이용약관 메뉴 */
.agreenode{
    width: 1080px;
    margin: 0 auto;
}
.agreeText{
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-left: 5px;
    height: 40px;
}
body > main > section > section.agreenode > label:nth-child(2){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    height: 30px;
}
body > main > section > section.agreenode > label:nth-child(3){
    font-size: 12px;
    height: 30px;
}
body > main > section > section.agreenode > label:nth-child(4){
    font-size: 12px;
    height: 30px;
}
body > main > section > section.agreenode > label:nth-child(5){
    font-size: 12px;
    height: 30px;
}
.inp1{
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}
.inp2{
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}
.inp3{
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}
.agreeText1{
    width: 1060px;
    height: 150px;
    resize: none;
    font-size: 12px;
}
.agreeText2{
    width: 1060px;
    height: 150px;
    resize: none;
    font-size: 12px;
    margin-bottom: 20px;
}
.color{
    color: red;
    display: inline-block;
    position: static;
}
.agreeBtn{
    width: 1200px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
}
.agreeBtn > input{
    width: 150px;
    height: 45px;
    background-color: #f6c757;
    font-size: 13px;
    border: 0;
}
