@charset "UTF-8";

.part4okmain{
	width: 1200px;
	margin: 0 auto 60px;
}
p {
	font-family: 'IBM Plex Sans KR';
	font-size: 36px;
	font-weight: bold;
	text-decoration: underline;
	height: 50px;
	line-height: 50px;
	margin: 60px auto;
	text-align: center;
}

.ul_cy {
	width: 900px;
	margin: 0 auto;
	font-family: 'Noto Sans KR';
	font-size: 18px;
	font-weight: 300;
	
}

.ul_cy > li {
	width: inherit;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid black;
	display: flex;
	color:  #000000;
}
.ul_cy > li > div {
	width: 200px;
	font-weight: 300;
}
.ul_cy > li:nth-of-type(1) {
	justify-content: space-between;
}
.ul_cy > li:nth-of-type(3),.ul_cy > li:nth-of-type(9) {
	font-weight: 500;
	display: block;
	text-align: right;
	border-bottom: 0;
}

.selectbtn{
	width: 150px;
	height: 40px;
	line-height: 38px;
	margin: 0 10px;
	border: 1px solid #000000;
	border-radius: 20px;
	text-align: center;
	background-color: #FFFFFF;
	cursor: pointer;
}
.ul_cy > li:last-of-type {
	height: 70px;
	border-bottom: 0;
	margin-top: 60px;
}
.title_cy {
	font-size: 25px;
	font-weight: 500 !important;
	text-indent: 45px;
	background: url("../ico/camping.svg") no-repeat 0 / 40px;
}
.ul_cy > li:nth-of-type(4){
	background: url("../ico/report.svg") no-repeat 0 / 40px;
}
.ul_cy > li:nth-of-type(10){
	background: url("../ico/pay.svg") no-repeat 0 / 40px;
}
.font20 {
	font-size: 20px;
}
.paybtn {
	width: 250px;
	height: 70px;
	background-color: #1e1f21;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
	margin: 0 auto;
}
.ul_cy > li:nth-of-type(11) {
	width: 900px;
	height: 70px;
	border-bottom: 1px solid black;
}
.ul_cy > li:nth-of-type(11) > span{

	background-color: black;
	color: white;
	border-radius: 50px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 200px;
	margin-top: 10px;
	margin-right: 500px;
}
.ul_cy > li:nth-of-type(11) > label{
	width: 200px;
	height: 60px;
	line-height: 70px;
	text-align: right;
	color: red;
}





