@charset "utf-8";

*{
    box-sizing: border-box;
}
span{
    display: block;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Ybanner{
    width: 100%;
    /* height: 720px; */
    background-color: yellow;
}
.Ybannermain1{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Ybannermain1 > li{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Ybannermain1 > li > img{
    aspect-ratio: 1;
}
.Ybannermain2{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Ybannermain2 > li{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Ybannermain2 > li > img{
    aspect-ratio: 1;
}
.Ybannerbot1{
    display: flex;
    flex-direction: column;
}
.Ybannerbot1 > img{
    aspect-ratio: 2/1;
}
.Ybannerbot2{
    display: flex;
    flex-direction: column;
}
.Ybannerbot2 > img{
    aspect-ratio: 2/1;
}
