@charset "uft-8";
.Yintro{
    width: 100%;
    height: 150px;
}
.Yintro {
    background-image: url(../intro/intro_01.jpg);
    background-size: 100% 100%;
}
.YintroMenu{
    width: 100%;
    height: 50px;
    display: inline-block;
}
.YintroMenu > li{
    width: 13%;
    height: 50px;
    float: left;
    margin-left: 6%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.YintroMenu > li > a > img{
    width: 100%;
    height: 100%;
}
.Yreview{
    width: 100%;
    margin-bottom: 15px;
}
.YreviewMenu{
    width: 100%;
    height: 40px;
    padding-left: 2%;
    padding-right: 2%;
    background-color:rgb(230, 230, 230);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.YreviewMenu > div{
    height: 40px;
}
.YreviewMenu > div:nth-child(1){
    width: 12%;
    height: 20px;
}
.YreviewMenu > div:nth-child(2){
    width: 75%;
    line-height: 40px;
    height:inherit;
    overflow: hidden;
    padding-left:25px;
}
.YuserReview{
    width: 100%;
    height: 40px;
}
.YuserReview > li{
    height: 40px;
    font-size: 14px;
    text-indent: 10px;
}
.YreviewMenu > div:nth-child(3){
    width: 12%;
    height: 20px;
    line-height: 10px;
    background-color: rgb(127, 127, 127);
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

