.J_search{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 3999;
    display: none;
}
.J_searchmain{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    box-sizing: border-box;
}
.J_searchmain >li{
    width: inherit;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.topmoving{
    width: 50px;
    height: 50px;
    background-color: gray;
    position: fixed;
    right: 0px;
    bottom: 0;
    opacity: 0.5;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}
.J_sbox{
    width: 100%;
    display:flex;
    height: 30px;
    background-color: lightgray;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
}
.J_sbox > li:nth-of-type(1){
    width: 30px;
    float: left;
    height: 30px;
    margin-right: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../btn/ham.svg");
}
.J_tt{
    float: left;
    width: 100%;
    height: 30px;
}
.J_ttt{
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0 5px 5px 0 ;
    text-indent: 10px;
}