@charset "UTF-8";

.mainPart {
	width: 1100px;
	height: auto;
	margin: 0 auto;
}

.mainPart>div {
	display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    height: 30px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.redBox {
	width: 15px;
	height: 15px;
	background-color: red;
	margin-right: 5px;
}

.firstul {
	height: 30px;
	width: 1100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	background-color: rgb(81, 61, 61);
	font-family: 'Noto Sans KR', sans-serif;
	color: wheat;
	font-size: 12px;
	align-items: center;
}
.firstul > li{
	border-right:1px solid white;
}

.firstul>li:nth-child(1) {
	width: 50px;
}

.firstul>li:nth-child(2) {
	width: 120px;
}

.firstul>li:nth-child(3) {
	width: 140px;
}

.firstul>li:nth-child(4) {
	width: 150px;
}

.firstul>li:nth-child(5) {
	width: 230px;
}

.firstul>li:nth-child(6) {
	width: 100px;
}

.firstul>li:nth-child(7) {
	width: 80px;
}

.firstul>li:nth-child(8) {
	width: 120px;
}

.firstul>li:nth-child(9) {
	width: 110px;
	border: 0;
}

.middelul {
	width: 1100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border:1px solid rgb(81, 61, 61);
    display: none;
}


.nextul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	align-items: center;
	text-align: center;
	height: 30px;
	border-right:1px solid rgb(81, 61, 61);
	border-top:1px solid rgb(81, 61, 61);
	border-left:1px solid rgb(81, 61, 61);
}
.nextul>li:nth-child(1) {
	width: 50px;
}

.nextul>li:nth-child(2) {
	width: 120px;
}

.nextul>li:nth-child(3) {
	width: 140px;
}
.nextul>li:nth-child(4) {
	width: 150px;
}

.nextul>li:nth-child(5) {
	width: 230px;
}

.nextul>li:nth-child(6) {
	width: 100px;
}

.nextul>li:nth-child(7) {
	width: 80px;
}

.nextul>li:nth-child(8) {
	width: 120px;
}

.nextul>li:nth-child(9) {
	width: 110px;
	display: flex;
    justify-content: space-evenly;
}
.nextul > li:nth-child(9) > input[type=button]:nth-child(1){
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	width:45px;
	height:20px;
	background-color: #000000;
	color: white;
	border:0;
}
.nextul > li:nth-child(9) > input[type=button]:nth-child(2){
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	width:45px;
	height:20px;
	background-color: #000000;
	color: white;
	border:0;	
}
.nextul:nth-last-of-type(1){
	border-bottom:1px solid rgb(81, 61, 61);
}

