@charset "UTF-8";
.configMain{
	width: 1100px;
	height:auto;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0 50px 0 50px;
	color:#333333;
	
}
.configForm > div{
	display: flex;
	height: 40px;
	border-bottom: 1px solid black;
	align-items: center;
	line-height: 30px;
	font-size: 15px;
}
.firstRedbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
	
}
.redBox {
	width: 15px;
	height: 15px;
	margin-right:5px;
	background-color: red;
}
/* 메뉴 제목 사이즈 */
.subjectSpan{
	width: 150px;
	
}

#configForm > div:nth-child(2) > input[type=text]{
	width: 250px;
	height: 30px;
	text-indent: 5px;
}
#configForm > div:nth-child(3) > input[type=text]{
	width: 300px;
	height: 30px;
	text-indent: 5px;
}
#configForm > div:nth-child(4) > span:nth-child(2){
	width: 204px;
	font-size: 13px;
	display: flex;
    justify-content: space-between;
}
#configForm > div:nth-child(5) > input[type=text]{
	width: 80px;
	height:30px;
	margin-right: 5px;
	text-indent: 5px;
}
.subjectMarginLeft1{
	margin-left: 360px;
}
/* 메인페이지 가입환경 설정 끝  */


/* 메인페이지 기본환경설정 파트*/
.secondDiv{
	margin-top: 20px;
	border-top: 0;
}
.displayFlexDiv{
	display: flex;
	justify-content: space-between;
}
.displayFlexDiv > span{
	display: flex;
}
.inputSize1{
	width:200px;
	height: 30px;
	text-indent: 5px;
}
#configForm > div:nth-child(10) > span:nth-child(2) > input[type=text]{
	width: 300px;
	height:30px;
	text-indent: 5px;
}
.subjectMarginLeft2{
	margin-left: 260px;
}
/* 기본환경설정 메뉴 끝  */


/* 환경설정 마지막 메뉴 */
.radioSpanMargin{
	width: 200px;
	display: flex;
}
.radioMarginleft{
	margin-left: 20px;

}
#configForm > div:nth-child(13) > span > input[type=text]:nth-child(4){
	width: 250px;
	text-indent: 5px;
}
.subjectMarginLeft3{
	margin-left: 210px;
}
#configForm > div.LastButton{
	border: 0;
	margin:0 auto;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
#configForm > div.LastButton > input[type=button]:nth-child(1){
	width: 150px;
	height: 45px;
	background-color: #513D3D;
	font-size: 13px;
	font-weight:bold;
	color: #FFFFFF;
	margin-right: 7.5px;
	border: 0;
}
#configForm > div.LastButton > input[type=button]:nth-child(2){
	width: 150px;
	height: 45px;
	background-color: #000000;
	font-size: 13px;
	font-weight:bold;
	color: #FFFFFF;
	border: 0;
}
#configForm > div:nth-child(17) > span > input:nth-child(4){
	margin-right: 5px;
}
#configForm > div:nth-child(19) > span > input:nth-child(4){
	margin-right: 5px;
}
