@charset "utf-8";

/* font-family: 'Noto Sans KR', sans-serif; 100 300 400 500 700 900 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'IBM Plex Sans KR', sans-serif; 100 200 300 400 500 600 700*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

.m_modfiy > div:nth-child(1){
	height: 60px;
	background-color: rgb(61,60,60);
	font-size: 19px;
	color:white;
	padding:0 10px 0 10px;	
}
.m_modfiy{
	width: 500px;
	height: 450px; 	
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	color:#333333;
	border: 0.1px solid lightgray;
}
.m_modfiy  div{
	display: flex;
	border-bottom: 2px solid black;
	height: 45px;
	align-items: center;
	padding: 0 10px 0 10px;
}
.m_modfiy > div:last-child{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	border: 0;
}
.m_modfiy > div:nth-child(8) > input[type=button]:nth-child(1){
	width: 150px;
	background-color:chocolate;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	height: 45px;
	margin-right: 15px;
	border: 0;
}
.m_modfiy > div:nth-child(8) > input[type=button]:nth-child(2){
	width: 150px;
	background-color:#000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	height: 45px;
	border: 0;
	
}
.spanSize1{
	width: 150px;
}

.m_modfiy > div:nth-child(4) > input[type=text]{
	height: 35px;
}
.m_modfiy > div:nth-child(5) > input[type=text]{
	height: 35px;
}
.m_modfiy > div:nth-child(6) > span:nth-child(2){
	width: 175px;
    display: flex;
    justify-content: space-between;
}

.dormant_display{
	display: none important;
}