@charset "UTF-8";
.noticeMother{
	margin :0 auto;
	width: 1000px;
	height: auto;
}
.redBoxMother{
	width: 1000px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.redBoxMother > span:nth-of-type(1){
	width: 15px;
	height: 15px;
	background-color: red;
	margin-right: 5px;
}

/* 공지사항 메뉴 페이지 제목 부분 */

.noticeTop{
	background-color: gainsboro;
}
ul.noticeTop > li:nth-of-type(3){
	text-align: center;
}
.notice_ul1{
	display: flex;
    width: 1000px;
    height: 40px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 auto;
}
.list_display{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid black;
}

.notice_ul1 > li:nth-of-type(1){
	width: 30px;
}
.notice_ul1 > li:nth-of-type(2){
	width: 70px;
}

.notice_ul1 > li:nth-of-type(3){
	width: 500px;
}

.notice_ul1 > li:nth-of-type(4){
	width: 165px;
}

.notice_ul1 > li:nth-of-type(5){
	width: 150px;
}

.notice_ul1 > li:nth-of-type(6){
	width: 100px;
}
.notice_ul1 > li:nth-child(3){
	text-align: left;
}

.list_display{
	display: none;
}
/* 버튼 메뉴 */
.notice_btnmenu{
	width: 1000px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}
.notice_btnmenu > input[type=button]:nth-child(1){
	width:150px;
	height: 40px;
	background-color: rgb(132, 6, 6);
	color: white;
	border: 0;
	margin-right: 10px;
}
.notice_btnmenu > input[type=button]:nth-child(2){
	width:150px;
	height: 40px;
	color: white;
	background-color: rgb(81, 61, 61);
	border: 0;
}

/* 페이지 번호 파트 */

.notice_page{
	width: 1000px;
	display: flex;
    justify-content: center;
    margin:0 auto;
}
.notice_page > span{
	width: 30px;
    height: 30px;
    font-size: 13px;
    color: #333333;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
}
.cursorPointer{
	cursor: pointer;
}