@charset "UTF-8";
/* font-family: 'Noto Sans KR', sans-serif; 100 300 400 500 700 900 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'IBM Plex Sans KR', sans-serif; 100 200 300 400 500 600 700*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

.headerRedbox{
	width: 1000px;
	height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 2px solid black;
}
.headerRedbox > span:nth-of-type(1){
	display: flex;
    width: 15px;
    height: 15px;
    background-color: red;
    margin-right: 5px;
    align-items: center;
}


/* 두번째 div */

.nextDiv{
	width: 1000px;
    height: 325px;
    display: flex;
    margin: 0 auto;
    font-size: 13px;
    border-bottom: 2px solid black;
}
.nextDiv > span:first-child{
	width: 250px;
	height: inherit;
}
.fristUl{
	list-style: none;
 	margin: 0;
 	padding: 0;
}
.fristUl > li {
	display: flex;
    width: 750px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.fristUl > li:nth-child(even){
	justify-content: normal;
}
.fristUl > li:nth-child(even)>input[type="text"]{
	margin-right: 13px;
}
.inputSize{
	width:500px;
	height: 30px;
}
.btnDiv{
	width: 1000px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.btnDiv > input[type="button"]{
	width: 150px;
	height: 45px;
	background-color: rgb(81, 61, 61);
	font-family: 'Noto Sans KR', sans-serif;
	color: #ffffff;
	border: 0;
}
.nextUlDiv{
	height: 120px;
	border-bottom: 2px solid black;
}
.nextUl > li:last-child{
	justify-content: normal;
}
.nextUl > li:last-child > input[type="checkbox"]{
	margin-right: 10px;
}

.thirdUlDiv{
	height: 160px;
	border-bottom: 2px solid black;
}
.setupName{
	padding: 5px 0 0 5px;
}
.redFont{
	color: red;
}
.marginCtrl{
	margin-left: 4px;
}
input[type='text']{
	font-size: 15px;
	text-indent: 5px;
}